<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is a web app to grab data from web page">
    <meta name="author" content="Top developer">
    <title>Grab Web App</title>
    <link href="./../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="./../static/css/jquery.dataTables.min.css" rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
    <style>
        html {
          font-size: 14px;
        }
        @media (min-width: 768px) {
          html {
            font-size: 16px;
          }
        }

        .container {
          max-width: 1100px;
        }
        td, th{
            text-align: center;
        }

        .pading-div{
            padding: 2px!important;
            text-align: left;
        }

    </style>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Grabber Web App</h5>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 pading-div">
            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Enter keyword here">
        </div>

        <div class="col-md-2 pading-div">
            <input type="text" class="form-control" id="location" name="location" placeholder="Enter location code">
        </div>
        <div class="col-md-3 pading-div">
            <select class="form-control" name="lang" id="lang">
                <option value="am">Amharic</option>
                <option value="ar">Arabic</option>
                <option value="eu">Basque</option>
                <option value="bn">Bengali</option>
                <option value="en-GB">English (UK)</option>
                <option value="pt-BR">Portuguese (Brazil)</option>
                <option value="bg">Bulgarian</option>
                <option value="ca">Catalan</option>
                <option value="chr">Cherokee</option>
                <option value="hr">Croatian</option>
                <option value="cs">Czech</option>
                <option value="da">Danish</option>
                <option value="nl">Dutch</option>
                <option value="en" selected>English (US)</option>
                <option value="et">Estonian</option>
                <option value="fil">Filipino</option>
                <option value="fi">Finnish</option>
                <option value="fr">French</option>
                <option value="de">German</option>
                <option value="el">Greek</option>
                <option value="gu">Gujarati</option>
                <option value="iw">Hebrew</option>
                <option value="hi">Hindi</option>
                <option value="hu">Hungarian</option>
                <option value="is">Icelandic</option>
                <option value="id">Indonesian</option>
                <option value="it">Italian</option>
                <option value="ja">Japanese</option>
                <option value="kn">Kannada</option>
                <option value="lv">Latvian</option>
                <option value="lt">Lithuanian</option>
                <option value="ms">Malay</option>
                <option value="ml">Malayalam</option>
                <option value="mr">Marathi</option>
                <option value="no">Norwegian</option>
                <option value="pl">Polish</option>
                <option value="pt-PT">Portuguese (Portugal)</option>
                <option value="ro">Romanian</option>
                <option value="ru">Russian</option>
                <option value="sr">Serbian</option>
                <option value="zh-CN">Chinese (PRC)</option>
                <option value="sk">Slovak</option>
                <option value="sl">Slovenian</option>
                <option value="es">Spanish</option>
                <option value="sw">Swahili</option>
                <option value="sv">Swedish</option>
                <option value="ta">Tamil</option>
                <option value="te">Telugu</option>
                <option value="th">Thai</option>
                <option value="zh-TW">Chinese (Taiwan)</option>
                <option value="tr">Turkish</option>
                <option value="ur">Urdu</option>
                <option value="uk">Ukrainian</option>
                <option value="vi">Vietnamese</option>
                <option value="cy">Welsh</option>
            </select>
        </div>
        <div class="col-md-2 pading-div">
            <select class="form-control" name="device" id="device">
                <option value="desktop">Desktop</option>
                <option value="mobile">Mobile</option>
            </select>
        </div>
        <div class="col-auto text-center">
            <button type="submit" class="btn btn-primary start-grab">Start</button>
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-md-12 text-center" id="loadingSection" style="display: none">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <h4 class="mt-4 text-center">All Grabbed Data</h4>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Keyword</th>
                <th scope="col">Location</th>
                <th scope="col">Search Language</th>
                <th scope="col">Device</th>
                <th scope="col">Fetch Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="surp, iterStat  : ${surps} ">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${surp.keyword}"></td>
                <td th:text="${surp.location}"></td>
                <td th:text="${surp.search_lang}"></td>
                <td th:text="${surp.device}"></td>
                <td th:text="${surp.fetch_date}"></td>
                <td>
                    <a th:href="@{'/detail/'+ ${surp.id}}" target="_blank"><button class="btn btn-info btn-sm">view</button></a>
                    <button class="btn btn-danger btn-sm delete-btn" th:attr="surpId=${surp.id}">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="modal fade" id="viewModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">View Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="pageURL">Page URL</label>
                            <input type="text" class="form-control" id="pageURL" aria-describedby="pageURL" readonly>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="jsonData">JSON Data</label>
                            <textarea type="text" class="form-control" id="jsonData" aria-describedby="jsonData" style="min-height:250px" readonly>
                            </textarea>
                            <button class="btn btn-danger btn-sm mt-1" id="jsonCopyBtn">Copy JSON Data</button>
                            <br>
                            <span id="copiedText" style="display:none">Successfully copied!</span>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="dateAdded">Date Added</label>
                            <input type="text" class="form-control" id="dateAdded" aria-describedby="dateAdded" readonly>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="dateUpdated">Date Updated</label>
                            <input type="text" class="form-control" id="dateUpdated" aria-describedby="dateUpdated" readonly>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="./../static/js/jquery-3.5.1.min.js" crossorigin="anonymous" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script src="./../static/js/bootstrap.min.js" crossorigin="anonymous" th:src="@{/js/bootstrap.min.js}"></script>
<script src="./../static/js/bootstrap.min.js" crossorigin="anonymous" th:src="@{/js/bootstrap.min.js}"></script>
<script src="./../static/js/jquery.dataTables.min.js" crossorigin="anonymous" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script>
    $(document).ready(function(){
        $('.table').DataTable({ "searching": true});

        $(".view-btn").click(function(){
            let grabId = $(this).attr("surpId");
              $("#pageURL").val("");
              $("#jsonData").val("");
              $("#dateAdded").val("");
              $("#dateUpdated").val("");
            $("#viewModal").modal("show");
            $.ajax({
                type: "GET",
                url: "/api/"+grabId,
                dataType: 'json',
                success: function(response) {
                  console.log(response)
                  $("#pageURL").val(response.url);
                  $("#jsonData").val(response.jsonArrData);
                  $("#dateAdded").val(response.date_added);
                  $("#dateUpdated").val(response.date_updated);

                  $("#viewModal").modal("show");
                }

            });

        });

        $(".delete-btn").click(function(){
            let grabId = $(this).attr("grabId");
            $.ajax({
                type: "DELETE",
                url: "/api/"+grabId,
                dataType: 'json',
                success: function(response) {
                  console.log(response)
                }
            });

            setTimeout(function(){ window.location.reload(true); }, 1000);

        });

        $("#jsonCopyBtn").click(function(){
          var copyText = document.getElementById("jsonData");
          copyText.select();
          copyText.setSelectionRange(0, 99999);
          document.execCommand("copy");
          $('#copiedText').show(0).delay(2000).hide(0);
        });

        $(".start-grab").click(function(){
            let keyword = $("#keyword").val();
            let location = $("#location").val();
            let lang = $("#lang").val();
            let device = $("#device").val();
            if(keyword.trim() == ""){
                alert("please enter keyword!");
                return;
            }
            $("#loadingSection").show();

              $.ajax({
                    type: "POST",
                    url: "api/surp",
                    data: {
                        keyword: keyword,
                        location: location,
                        lang: lang,
                        device: device
                    },
                    dataType: 'json',
                    success: function(response) {
                        console.log(response)
                        window.location.reload(true);

                    }
                });

        });
    });
</script>
</body>
</html>